<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>MyRunsAppEngine</servlet-name>
        <servlet-class>com.example.edreichua.myapplication.backend.MyRunsAppEngineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyRunsAppEngine</servlet-name>
        <url-pattern>/MyRunsAppEngine.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostData</servlet-name>
        <servlet-class>com.example.edreichua.myapplication.backend.PostDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostData</servlet-name>
        <url-pattern>/PostData.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendDeleteMessage</servlet-name>
        <servlet-class>com.example.edreichua.myapplication.backend.SendDeleteMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendDeleteMessage</servlet-name>
        <url-pattern>/SendDeleteMessage.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.example.edreichua.myapplication.backend.RegistrationEndpoint,
                com.example.edreichua.myapplication.backend.MessagingEndpoint
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>MyRunsAppEngine.do</welcome-file>
    </welcome-file-list>
</web-app>